*{
    font-family: "Poppins", sans-serif;
}

.banner{
    background-image: url(/website_project/images/kidz3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 290px 0;
}